<h3>Workouts</h3>

<form>
	<div class="form-group">
		<label for="name">Workout Name</label>
		<input type="text" name="name" class="form-control" id="workout-name" placeholder="Enter Workout Name">
	</div>
	<div class="form-group">
		<label for="">Reps</label>
		<input type="number" name="reps" class="form-control" id="workout-reps" placeholder="Enter Reps">
	</div>
	<div class="form-group">
		<label for="">Weight</label>
		<input type="number" name="weight" class="form-control" id="workout-weight" placeholder="Enter Weight">
	</div>
	<div class="form-group">
		<label for="">Date</label>
		<input type="date" name="date" class="form-control" id="workout-date" placeholder="Enter Date">
	</div>
		<div class="form-group">
		<button type="submit" class="btn btn-info insert-data">Submit New Workout</button>
	</div>
</form>

{{#if rows}}
<table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
    	<tr>
			<th>Name</th>
			<th>Reps</th>
			<th>Weight</th>
			<th>Date</th>
			<th>Lbs</th>
			<th>Action</th>
    	</tr>
    </thead>
    <tbody>
    	{{#each rows}}
    	<tr id="workout-{{{id}}}">
    		<td>{{name}}</td>
    		<td>{{reps}}</td>
    		<td>{{weight}}</td>
    		<td>{{date}}</td>
    		<td>{{lbs}}</td>
    		<td>
				<button type="button" class="btn btn-default edit-row" id={{id}} data-id={{id}} data-name={{name}} data-date={{date}} data-weight={{weight}} data-reps={{reps}} data-weight={{weight}} data-toggle="modal" data-target="#myModal">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>
				<button type="button" class="btn btn-default delete-row" id={{id}}>
					<span class="glyphicon glyphicon-trash"></span>
				</button>
				<!-- Modal -->
				<div class="modal fade" id="myModal" data-id={{id}} tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
				    	<div class="modal-content">
				      		<div class="modal-header">
				        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        		<h4 class="modal-title" id="myModalLabel">Editing Workout: <span id="workout-title"></span></h4>
				      		</div>
				      		<div class="modal-body">
				      			<div class="form-group">
									<label for="">Name</label>
									<input type="text" class="form-control" id="workout-name-edit" value="">
								</div>
				        		<div class="form-group">
									<label for="">Reps</label>
									<input type="number" class="form-control" id="workout-reps-edit" value="">
								</div>
								<div class="form-group">
									<label for="">Weight</label>
									<input type="number" class="form-control" id="workout-weight-edit" value="">
								</div>
								<div class="form-group">
									<label for="">Date</label>
									<input type="date" class="form-control" id="workout-date-edit" value="">
								</div>
				      		</div>
				      		<div class="modal-footer">
				        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        		<button type="button" class="btn btn-primary">Save changes</button>
				      		</div>
				    	</div>
				  	</div>
				</div>
				<!-- Modal End -->
    		</td>
    	</tr>
    	{{/each}}
    </tbody>

</table>
{{/if}}

